@import "colors.scss";
@import "fonts.scss";
.App {
  color: $black;
  font-size: $text-size;
  font-family: $main-family;
}
.product-page-container {
  display: flex;
  gap: 10%;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.large-image {
  border-radius: 15px;
}
